html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #f7f7fa ;
    padding: 15px;
}

.header_container {
    display: flex;
    font-size: 20px;
    line-height: 25px;
    justify-content: space-evenly;
}

.header_container ul {
    list-style: none;
}

#picture {
    border-radius: 50%;
    border-style: solid;
    border-color: #FC4C02;
}

#userList p {
    margin: 0px;
}

.tableSegments input {
    border-style: none;
    margin: 0px;
}

.tableSegments {
    padding: 15px;
    width: 70%;
}

.tableSegments button {
    border-style: none;
    text-align: start;
    border-radius: 5px;
    width: 70%;
    padding: 8px;
    margin-bottom: 7px;
    background-color: #c58c11;;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.tableSegments button:hover {
    background-color: #cc6d00;
}

@media only screen and (max-width: 600px) {
    .tableSegments button {
        text-align: start;
        margin: 0px;
        border-radius: 5px;
        width: 100%;
    }
}

.containerTable {
    margin: 15px;
    height: 700px;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

@media only screen and (max-width: 600px) {

    .containerTable {
        margin: 15px;
        height: 300px;
        display: flex;
        justify-content: center;
        overflow-y: scroll;
    }
}

@media only screen and (max-width: 600px) {
    .container2 {
        
        margin: 20px 10px 10px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}

.container2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.containerInfoSegmento {
    display: none;
    width: 300px;
    margin: 10px;
    background-color: #33b5e5;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .containerInfoSegmento {
        width: 70%;
        margin: 10px;
        background-color: #c58c11;
        border-radius: 5px;
    }
}

#segmentName {
    border: solid;
    border-width: 2px;
    border-color: #cc6d00;
    border-radius: 5px;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

#profile {
    width: 90%;
}
.containerInfoSegmento ul {
    list-style: none;
}
.containerInfoSegmento li {
    padding: 2px;
}

.containerProfile {
    text-align: center;
}

#datoTime input{
    width: 35px;
}
#timeContainer {
    display: flex;
}

#list {
    text-align: justify;
}

#info {
    display: none;
    width: 300px;
    background-color: #c58c11;
    border-radius: 5px;
  padding: 15px;
  margin: 10px;
  color: #ffffff;
  text-align: start;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media only screen and (max-width: 600px) {
    #info {
        width: 60%;
    }
    #info h2{
        font-size: 15px;
    }
    #info input{
        margin: 0px 5px;
        border-style: none;
        border-radius: 3px;
    }
}